body {
    /*background-color: #f4c7c1;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    width: 80%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 55pt;
    text-align: center;
    padding-top: 55px;
    color:black;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25pt;
    text-align: center;
    color: black;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    font-size: 20pt;
    color: black;
}

p {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 15pt;
    color: black;
}

.btn {
    font-size: 20pt;
}

#crystal1 {
    max-width: 50%;
    height: auto;
}
#crystal2 {
    max-width: 40%;
    height: auto;
}

#crystal3 {
    max-width: 40%;
    height: auto;
}

#crystal4 {
    max-width: 50%;
    height: auto;