body {
    background-color: #f4c7c1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    width: 80%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 45pt;
    text-align: center;
    padding-top: 55px;
    color:white;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    text-align: center;
    color: white;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    font-size: 18pt;
    color: white;
}

p {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 12pt;
    color: white;
}

.btn {
    font-size: 20pt;
}

#crystal1 {
    max-width: 50%;
    height: auto;
}
#crystal2 {
    max-width: 40%;
    height: auto;
}

#crystal3 {
    max-width: 40%;
    height: auto;
}

#crystal4 {
    max-width: 50%;
    height: auto;